@font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('path/to/JameelNooriNastaleeq.ttf') format('truetype');
}

body {
    font-family: 'Jameel Noori Nastaleeq', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
}

.image-container div {
    position: relative;
    z-index: 1;
}

.image-container div:nth-child(2) {
    margin-left: -50px; /* Adjust the value to control overlap */
    z-index: 2;
}

.image-container div:nth-child(3) {
    margin-left: -50px; /* Adjust the value to control overlap */
    z-index: 3;
}

.circular-image {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
}

p {
    text-align: center;
    padding: 10px;
}

.search-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: gainsboro;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .circular-image {
        margin-bottom: 10px;
    }

    input[type="text"] {
        width: 90%;
    }
}

h3 {
    color: #343a40;
}

a :link {
    color: #343a40;
}

a {
    color: #343a40;
    text-decoration-color: #343a40;
    font-size: larger;
    font-weight: 700;
}
