body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: green;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 10px; /* space between items */
    justify-items: center;
}

li {
    background-color: oli;
    padding: 10px;
    box-shadow: 0 0 10px white (0, 0, 0, 0.1);
    width: 90%; /* Adjust width as needed */
}

li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}
